* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body {
  background-color: #000000;
}

:root {
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}

:root {
  --color0: #fff;

}

header {
  width: 100%;
  background-color: var(--color4);
}

nav img {
  width: 200px !important;
}

.containerrr {
  width: 100% !important;
  max-width: 120rem !important;
  margin: 0 auto !important;
  padding: 0 1.5rem !important;
}

nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  background-color: var(--color2);
  width: 6rem;
  height: 6rem;
  display: flex;
  border-radius: 50%;
}

.navbar-brand i {
  font-size: 4rem;
  color: var(--color0);
  margin: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-top: 12px !important;
}

.nav-link {
  /* font-size: 1.6rem; */
  font-size: 1.2rem !important;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: var(--color0);
  text-transform: capitalize;
  transform: scale(0);
  transition: transform 650ms;
  cursor: pointer;
}

.nav-link:hover {
  color: #fff;

}

.nav-item {
  position: relative;
  line-height: 8rem;
  transition-delay: 0.4s;
  visibility: hidden;
}

.nav-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color1);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Hamburger Menu */
.hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  right: 50px;
  line-height: 5rem;
  z-index: 1500;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: var(--color0);
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 2.8rem;
}

.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
  width: 2rem;
}

.nav-list.active .nav-link {
  transform: scale(1);
}

.nav-list.active .nav-item {
  transition-delay: initial;
  visibility: visible;
}


.nav-list.active .nav-item:nth-child(1) .nav-link {
  transition-delay: 0.5s;
}

.nav-list.active .nav-item:nth-child(2) .nav-link {
  transition-delay: 0.4s;
}

.nav-list.active .nav-item:nth-child(3) .nav-link {
  transition-delay: 0.3s;
}

.nav-list.active .nav-item:nth-child(4) .nav-link {
  transition-delay: 0.2s;
}

.nav-list.active .nav-item:nth-child(5) .nav-link {
  transition-delay: 0.1s;
}

/* Reverse animation */

.nav-list .nav-item:nth-child(1) .nav-link {
  transition-delay: 0.1s;
}

.nav-list .nav-item:nth-child(2) .nav-link {
  transition-delay: 0.2s;
}

.nav-list .nav-item:nth-child(3) .nav-link {
  transition-delay: 0.3s;
}

.nav-list .nav-item:nth-child(4) .nav-link {
  transition-delay: 0.4s;
}

.nav-list .nav-item:nth-child(5) .nav-link {
  transition-delay: 0.5s;
}

@media screen and (max-width: 768px) {
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    position: fixed;
    left: 0;
    bottom: -100vh;
    transform: bottom 650ms;
  }

  .nav-list.active {
    bottom: 0;
  }
}

.introduction-section {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.introduction-section h1 {
  color: #C9F31D !important;
  font-size: 50px;
  display: inline-block;
  position: relative;
  font-weight: bold !important;
  font-family: "Anonymous Pro", monospace !important;
  letter-spacing: 7px !important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
  margin-top: 7px !important;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 610px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }

  to {
    border-right-color: transparent;
  }
}

.introduction-section h3 {
  color: #656565 !important;
  font-size: 35px;
  text-shadow: 0 0 7px rgba(255, 255, 255, .1), 0 0 3px rgba(255, 255, 255, .1);
}

.introduction-section h4 {
  color: #fff !important;
  font-size: 55px;
}

.introduction-section p {
  text-align: justify;
  color: #9F9F9F !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  margin-top: 20px !important;
}

.hireme-btn {
  margin-top: 75px !important;
}

.introduction-section .hireme-btn button {
  background: #C9F31D;
  padding: 1px 45px 14px 45px;
  font-size: 16px;
  padding-top: 10px;
  font-weight: 600;
  border-radius: 14px;
  border: none;
  outline: none;
}

.introduction-section .resume-btn {
  background: none !important;
  margin-left: 60px !important;
  color: #fff;
  font-weight: normal !important;
}

.resume-btn {
  position: relative;
  overflow: hidden;
}

.resume-btn:hover .icon {
  font-size: 14px !important;
  transform: translateX(-5px);
  transition: transform 0.8s ease;
}

.experience-section {
  background-color: #262626 !important;
  width: 300px;
  border-radius: 14px;
  padding: 40px;
  position: absolute;
  margin-left: 40px !important;

}

.experience-section h2 {
  color: #C9F31D;
  font-size: 55px;
  font-weight: 500;

}

.experience-section p {
  color: #9F9F9F !important;
  font-size: 20px;
}

.animated-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#code-block {
  padding: 50px !important;
}


.Animation-text-wrapper {
  color: #fff !important;
  font-size: 35px !important;
  font-weight: 600;
}



/* About-Section */
.About-us-Section {
  background: #262626;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  padding-bottom: 40px !important;

}

.about-me h3 {
  color: #656565 !important;
  font-size: 20px;
}

.about-me :nth-child(2) img {
  max-width: 779px !important;
}

.about-me h1 {
  color: #fff;
}

.about-me span {
  color: #C9F31D !important;
}

.about-me p {
  color: #bbb9b9 !important;
  margin-top: 20px;
}

.about-exp p {
  font-size: 18px;
  font-weight: 500;
  color: #fff !important;
}

.about-exp span {
  font-size: 30px;
  font-weight: 600;

}

.contact-me-detail .contacts {
  border-radius: 50% !important;
}

.contacts span {
  background-color: #C9F31D !important;
  font-size: 40px;
  color: #070707 !important;
}

.contact-me-detail {
  background-color: #1F1F1F !important;
  border-radius: 30px !important;
  width: 100%;
  padding: 20px;
  /* z-index: 1000 !important; */
  position: relative;
}

.contact-me-detail img {
  width: 30px !important;
}

.contact-me-detail h6 {
  color: #656565;
  margin-left: 30px !important;
}

/* .contact-me-detail p {
  color: #fff !important;
  margin-left: 30px !important;
} */

.about-info-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  border-radius: 20px;
  padding: 16px 40px 2px;
  background: #1F1F1F;
  border: 1px solid #353434
}

.about-info-box .info-box-item:not(:last-child) {
  margin-right: 50px;
}

.about-info-box .info-box-item {
  margin-bottom: 15px;
}

.info-box-item {
  display: flex;
  align-items: center;
}

.info-box-item .icon {
  background-color: #C9F31D;
  padding: 6px 12px;
  border-radius: 50%;
  font-size: 25px;
  margin-right: 10px;
}

.info-box-item a {
  color: #fff !important;
}

.contact-me-detil {
  /* z-index: 1000; */
  position: absolute;
}

.about-exp .dot-shape {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.services-section {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  background: #070707;
  padding: 60px !important;
}

/* About eND */

/* Services Section  */
.services-main p {
  color: #656565 !important;
  font-weight: 600;
  font-size: 20px;
}

.services-main h1 {
  color: #fff;
}

.services-main span {
  color: #C9F31D;
}

.details-btn {
  width: 50px;
  height: 50px;
  background: #131313;
  color: #fff;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transform: rotate(-45deg);
  border: 1px solid var(--border-color);
  transition: background-color 0.7s ease;
}

.details-btn:hover {
  background: #C9F31D;
  color: #070707;
}

.services-detail {
  background: #262626;
  border-radius: 30px !important;
  padding: 20px !important;
  margin-top: 50px;
  border: 1px solid #474646;
  transition: border 0.5s ease;
  display: flex;
  justify-content: center;
  position: static;
}

.services-detail:hover {
  border: 1px solid #C9F31D;
}

.services-detail span {
  font-size: 40px;
}

.services-detail h4 {
  color: #fff !important;
  margin-top: 20px;
}

.services-detail p {
  color: #bbb9b9 !important;
  font-weight: normal;
  font-size: 15px !important;
  width: 26rem;
  margin-top: 20px;
}

.services-detail:hover .details-btn {
  background-color: #C9F31D;
  color: #070707;
}

/* Services Section End  */


/* skill-section */

.skill-section {
  background: #262626 !important;
  padding: 60px !important;
}

.skill-wrapper {
  padding: 30px;
}

.skill-wrapper h4 {
  color: #9EA6A8 !important;
  font-family: 600;
}

.skill-wrapper h1 {
  color: #FFf;
}

.skill-wrapper p {
  color: #bbb9b9;
  margin-top: 5px;
  font-size: 13px;
  line-height: 30px;
  text-align: justify;

}

.skill-wrapper span {
  color: #C9F31D !important;
}

.language-section {
  background: #3b3b3b;
  padding: 30px;
  width: 140px;
  border: 1px solid #585555;
  border-radius: 10px !important;
  transition: border 0.3s ease;
  min-height: 200px;

}

.language-section img {
  width: 40px;
}

.language-section button {
  width: 100px;
  margin-left: -10px;
  background: #070707;
  color: #FFf;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.language-section:hover {
  border: 1px solid #C9F31D;
}

.language-section {
  position: relative;
  overflow: hidden;
}

.language-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: -1;
}

.language-section:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.language-section:hover button {
  background-color: #C9F31D;
  color: #070707;
}


/* skill-section End */

/* Testimonial-section */
.testimonial-section {
  background: #070707;
  padding: 60px !important;
}

.product-item h4 {
  color: #C9F31D;
}

.product-item p {
  width: 15rem;
  padding-top: 20px;
  text-align: justify;
  color: #bbb9b9;
}

.client-testimonial p {
  color: #bbb9b9;
  font-weight: 600;
  font-size: 17px !important;
}

.client-testimonial h1 {
  color: #fff;
  font-size: 55px;
}

.client-testimonial h1 span {
  color: #C9F31D;
}

.product-item {
  padding: 20px;
  transition: background-color 0.4s;
}

.product-item:hover {
  background-color: #1a1919 !important;
  border: 1px solid #656565;
  border-radius: 12px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #C9F31D;
}

.p-carousel-indicators {
  margin-top: 20px !important;
  margin-left: -40px !important;
  display: none;
}

.p-carousel-prev {
  position: absolute;
  left: -40px;
}

.p-carousel-next {
  position: absolute;
  right: 7px;
}

.p-carousel-prev:hover {
  background-color: #C9F31D !important;
  border-radius: 10px !important;

}

.p-carousel-next:hover {
  background-color: #C9F31D !important;
  border-radius: 10px !important;

}

/* Testimonial Section End */

/* Project section */

.project-sections {
  background: #262626;
  padding: 60px !important;
}

.project-section-wrapper h6 {
  text-align: center;
  font-size: 24px;
  color: #a19e9e;
}

.project-section-wrapper h1 {
  text-align: center;
  color: #fff;
}

.project-section-wrapper span {
  color: #C9F31D;
}

.project-details {
  margin-top: 80px !important;
  padding-top: 70px !important;
  padding-left: 40px;

}

.project-details h5 {
  color: #C9F31D;
  margin-bottom: 20px !important;
}

.project-details h1 {
  color: #fff;
  text-align: start !important;
  transition: color 0.5s;
  cursor: pointer;
}

.project-details h1:hover {
  color: #C9F31D;
  text-align: start !important;
}

.project-details p {
  color: #bbb9b9;
  width: 20rem;
  font-size: 17px;
  text-align: justify;
}

.price-section {
  background: #070707;
  padding: 60px;

}

.price-wrapper h5 {
  color: #656565;
}

.price-wrapper h1 {
  color: #FFF;
}

.price-wrapper span {
  color: #C9F31D;
}

.pricing-detail p {
  color: #636363 !important;
  font-weight: 600;
  font-size: 17px;
}

.pricing-container {
  background: #1F1F1F;
  padding: 20px;
  margin-top: 60px;
  border-radius: 12px;
}



.pricing-detail {
  background: #131313;
  border-radius: 13px;
  padding: 20px;
}

.pricing-detail strong {
  color: #FFF;
}

.pricing-detail h2 {
  color: #fff !important;

}

.pricing-detail h2 {
  color: #C9F31D !important;
  margin-top: 30px;
}

.pricing-detail span {
  color: #9F9F9F !important;
  font-size: 17px !important;
}

.services-provided {
  display: flex;
  padding: 30px;
  margin-top: 20px;
}

.services-provided span {
  font-size: 20px;
}

.services-provided h3 {
  font-size: 20px;
  margin-top: 7px;
  margin-left: 10px;
  color: #FFF;
}

.pricing-container button {
  border-radius: 10px;
  background: #363636;
  color: #FFF;
  width: 190px;
  height: 45px;
  margin-left: 40px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  transition: background-color 0.5s;
}

.pricing-container:hover button {
  background-color: #C9F31D !important;
  color: #070707;
}

.services-provided p {
  color: #585555 !important;
  font-size: 23px;
}

.contact-form-section {
  background: #131313;
  padding: 60px;
}

.contact-form-detail h5 {
  color: #585555;
  margin-top: 20px;
}

.contact-form-detail h1 {
  color: #FFF;
}

.contact-form-detail h2 {
  color: #C9F31D;
  font-size: 45px;
}

.contact-form-detail p {
  color: #bbb9b9;
}

.experience-detail {
  display: flex !important;
  margin-bottom: 35px;
}

.experience-detail span {
  color: #070707;
  text-align: center;
  background-color: #C9F31D;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 17px;

}

.experience-detail h5 {
  color: #9EA6A8;
  margin-left: 20px;
}

.contact-form-inputs {
  margin-top: 0px !important;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 30px;
  width: 100% !important;
  padding: 16px 10px 20px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #FFF;
  background: #1F1F1F;
  transition: background-color 0.3s, color 0.3s, placeholder-color 0.3s;
}

.input-with-icon input::placeholder {
  color: #959D9E !important;
  font-weight: 600;
  font-size: 16px !important;
}

.input-with-icon .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #959D9E !important;
  font-size: 20px !important;
}


label {
  color: #FFF;
  font-size: 20px !important;
  margin-bottom: 20px !important;

}

.contact-form textarea {
  width: 100%;
  color: #FFF;
  padding: 0px 20px 100px;
  background: #1F1F1F;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: background-color 0.3s, color 0.3s, placeholder-color 0.3s;
}

.contact-form textarea::placeholder {
  padding-top: 10px;
  color: #959D9E;
  font-size: 17px;
  font-weight: 600;
}

.contact-form button {
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  transition: .5s;
  text-align: center;
  align-items: center;
  position: relative;
  background: #C9F31D;
  color: #070707;
  padding: 13px 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 40px;
}

.button-with-icon {
  position: relative;
  padding-right: 25px;
}


.button-with-icon .arrow-icon {
  position: absolute;
  top: 47%;
  font-size: 700;
  right: 20px;
  font-size: 20px;
  transform: translateY(-50%);
}

.input-with-icon input:focus {
  background: #070707;
  color: #fff;
  border: 1px solid #C9F31D;
}

.contact-form textarea:focus {
  background: #070707;
  border: 1px solid #C9F31D;
}


/* footer section */

.footer-section {
  background: #070707 !important;
}

.footer-section-wrapper {
  padding-top: 100px !important;
  padding-bottom: 50px;
}

.quick-link h5 {
  color: #FFF;
}

.quick-link ul li {
  list-style: none;
  color: #C9F31D;
  margin-top: 20px !important;
  font-size: 18px;
  cursor: pointer;
}

.footer-contact h5 {
  color: #FFF;
}

.footer-contact span {
  color: #C9F31D;
  font-size: 26px !important;
  margin-bottom: 30px;
}

.footer-contact p {
  color: #FFF;
  margin-top: 10px;
}

/* Footer End */

/* Social-Link  */
.social-link-section {
  background: #131313;


}
.cs_scrollup {
  z-index: 111 !important;

}

.upside-scroll-arrow {
  color: var(--lighter-color);
  font-size: 22px;
  position: absolute;
  top: -30px;
  left: calc(20% - 30px);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 14px;
  background: #C9F31D;
  cursor: pointer;
  animation: pluse 2s infinite !important;
}

.visible {
  bottom: 23px !important;
}

.social-handle ul {
  display: flex;
  gap: 100px;
  position: absolute;
  right: 30px;
  padding-bottom: 40px;
}

.social-handle ul li {
  list-style: none;
  font-size: 20px;
  color: #9F9F9F;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.cs_scrollup {
  transition: transform 0.3s ease-in-out;
}

.cs_scrollup.zoomed {
  transform: scale(1.5);
}

.copyright-section p {
  color: #9F9F9F;
  margin-top: 38px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.copyright-section span {
  color: #C9F31D;
}

@keyframes pluse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}